body{
    margin: 0;
    background: url(bg1.png) no-repeat center center fixed;
    background-repeat: no-repeat;
    -khtml-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-auto-rows: repeat(auto, auto);
    grid-template-areas:
      "hd nav-bar "
      "git tel  "
      "dis pho  ";
    grid-column-gap: 5%;
    grid-row-gap: 0;
}
.header-logo {
    grid-area: hd;
}
.logo {
    max-width: 100%; 
    height: auto; 
}
.nav-bar {
    grid-area: nav-bar;
    background-color: #302341;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item{
    color: #fff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-right: 5%;
    margin-left: 5%;
    transition: color 0.3s linear;
}

.nav-item:hover{
    color: #7B68EE;
}

.title{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 200%;
    font-weight: 700;
    text-align: justify; 
    margin-top: 10%;
    margin-right: 10%;
    border-bottom: 2px solid #7B68EE; 
    padding-bottom: 5%; 
    
}
.logot{
    height: 20%;
    width: 20%;
}
.opt{
    color: #808080;
    font-size: 18px;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
}
.link{
    color: #fff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    text-align: justify; 
    margin-top: 10%;
    margin-right: 10%;
}
.link:hover{
    color: #7B68EE;
}
.git{
    grid-area: git;
    padding: 7%;
}
.dis{
    grid-area: dis;
    padding: 7%;
}
.tel{
    grid-area: tel;
    padding: 7%;
    background-color: #302341;
}
.pho{
    grid-area: pho;
    padding: 7%;
    background-color: #302341;
}
