body{
    margin: 0;
    background: url(bg.jpg) no-repeat center center fixed;
    background-repeat: no-repeat;
    -khtml-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-auto-rows: repeat(auto, auto);
    grid-template-areas:
      "hd nav-bar"
      "sd main";
    grid-column-gap: 8%;
    grid-row-gap: 15%;
}
.header-logo {
    grid-area: hd;
}
.logo {
    max-width: 100%; 
    height: auto; 
}
.nav-bar {
    grid-area: nav-bar;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item{
    
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    margin-right: 5%;
    margin-left: 5%;
    transition: color 0.3s linear;
    
}

.nav-item:hover{
    color: #7B68EE;
}
.sidebar {
    grid-area: sd;
    

}
.hero-img{
    width: 100%;
    height: 90%;
}
.content {
    grid-area: main;
}
.header-title {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 200%;
    font-weight: 700;
    text-align: center; /* Center text horizontally */
    margin-top: 20%;
    margin-right: 10%;
}

.header-subtitle {
    color: #808080;
    font-size: 18px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

